@font-face {
    font-family: "Lato";
    src: url(./Font/Lato/Lato-Regular.woff);
    src: url(./Font/Lato/Lato-Regular.ttf);
    src: url(./Font/Lato/Lato-Regular.otf);
}
@font-face {
    font-family: "Raleway";
    src: url(./Font/Raleway/static/Raleway-Regular.woff);
    src: url(./Font/Raleway/static/Raleway-Regular.ttf);
    src: url(./Font/Raleway/static/Raleway-Regular.otf);
}
.container{
  max-width: 1160px;
  margin: 0px auto;          
  background-color: #f5f5f5;
}

.header {
    text-align: center;
    background-color: #17abb3;
    color: #ffffff;
    padding: 20px 0;
    font-family: "Lato";
}

.footer {
    text-align: center;
    background-color: #17abb3;
    color: #ffffff;
    padding: 20px 0;
    font-family: "Lato";
}

.box {
    display: flex;
}
.info {
    display: inline-block;
    flex-direction: column;
    background-color: #e3e3e3;
    padding: 20px;
    width: 30%;
}

.cursus {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 20px;
}

h1 {
    font-family: "Lato";
    color: #ffffff;
    font-weight: bold;
}
h2 {
    font-family: "Lato";
    color: #17abb3;
    font-weight: lighter;
}

h3 {
    font-family: "Lato";
    color: #ffffff;
    font-weight: lighter;
}
p {
    font-family: "Raleway";
}

td {
    font-family: "Raleway";
    padding: 10px 0;
}

li {
    font-family: "Raleway";
    position: relative;
    list-style: none;
}
li::before {
    content: "■";
    position: absolute;
    left: -35px;
    color: #17abb3;   
}

hr {
    border: 1px solid #e3e3e3;
}

.right {
    text-align: right;
    font-family: "Raleway";
    color: #17abb3;
}

table {
    width: 100%;
    padding-right: 40px;
}

#table-heading {
    align-items: center;
}

.italic {
    font-style: italic;
    font-weight: lighter;
}

.alinéa {
    text-indent: 30px;
}

.photo-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  float: left;
  margin-left: 100px;
}

.photo-circle img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}
